body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height: 1.5;
  padding: 0;
  margin:0;
  background-color: lightgray;
}
  
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #35424a;
    border-bottom: orangered 3px solid;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover{color: #111;}
  
  ul.topnav li.right {float: right;}
  
  
  @media screen and (max-width: 652px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

  @media screen and (max-width: 1600px) {
      ul.topnav li a{
      font-size: large;
      }
    }

    footer{
      padding-top:10px;
      margin-top: 20px;
      color:white;
      background-color: #e8491d;
      text-align: center;
  }
  
      /* footer part*/
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /*  hover effect  */
  .fa:hover {
    opacity: 0.7;
  }
  
  /*  specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
      color: white;
    }
    
    /* Twitter */
    .fa-twitter {
      color: white;
    }
    /* instagram */
    .fa-instagram {
      color: white;
    }
    .footer-notes{
        margin: 0;
    }

    .gallery{
    margin:5px;
    float:left;
    width:390px;
    border:1px solid white;
}

.gallery img{
    width:100%;
    height:50vh;
}

.images{
  margin-bottom: 1200px;
}
.desc{
    padding:20px;
    text-align:center;
}
    

h1{
    text-align:center;
    max-width:100%;
    color:whitesmoke;
}

h2{
    text-align:center;
    color:olive;

}



head{
    margin-top:0.5rem;
    color:darkcyan;
    text-align:center;
}

img{
    max-width: 100%;
    margin:0%;
    
}

.grid .btn{
    float:right;
    background:black;
    width:100px;
    border:none;
    outline:none;
    color:#FFFFFF;
    height:30px;
    border-radius:30px;
    margin-top:18px;
    box-shadow:0px 5px 15px 0px rgba(28,0,181,0.3);
}

.grid .btn{
    background-color:black;
    float:right;
    

}





@media only screen and (min-width: 481px){
    /* tablet layout */
    img{
           width:45%;
    }
}

@media only screen and (min-width:769px){
    /* desktop layout */
    img{
           width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}